<li id="question_<%=question.id.to_s%>" class ="large-10 small-10 large-centered small-centered columns">
	<%= form_for question , :html=> {:class => 'question_form'} , remote: true do |f| %>
	<%= f.hidden_field :survey_id, :value => question.survey_id %>
		<div class="field">
	    <%= f.label :text, "Question" %><br />
	    <h6 class="text_solid"><%= question.text %></h6>
	    <%= f.text_field :text, :class => "text_edit" %>
	  </div>

	  <div class="field">
	    <%= f.label :question_type %>
	    <h6 class="type_solid"><%= question.question_type %></h6>
	    <span class="type_edit">
			<%= f.select(:question_type, options_for_select(["dropdown", "multiple choice"], selected: :question_type )) %></span>
	    <!-- <%= f.text_field :question_type, :class => "type_edit" %> -->
		</div>

		<button type="button" class="button tiny radius button_edit large-1 small-2 large-centered small-centered columns">Edit</button>
	  <div class="actions button_confirm">
	  	<%= f.submit "Confirm Changes", :class => "button tiny radius success" %>
		</div>

		<i class="trash"><%= link_to  "", question , remote: true,  method: :delete, data: { confirm: 'Are you sure?' }, :class => "fi-trash size-30" %></i>
	<% end %>

	<ul class="choice_list" id="choices_list_<%= question.id %>" class ="large-10 small-10 large-centered small-centered columns">
		<% question.choices.each do |choice| %>
			<%= render choice %>
		<% end %>
	</ul>
	<%= link_to  "Add choice", new_choice_path(:question_id => question.id), remote: true , :class => "button tiny radius secondary"%>
</li>