<li>
	<%= form_for choice, :html=> {:class => 'choice_form'}, remote: true do |f| %>
		<div class="field">
			<%= f.hidden_field :question_id, :value => choice.question.id %>
			<br />
	    <h6 class="text_solid"><%= choice.text %></h6>
	    <%= f.text_field :text, :class => "text_edit" %>
	  </div>
	  <button type="button" class="button tiny radius button_edit large-1 small-2 large-centered small-centered columns">Edit</button>
		<i><%= link_to  "", choice, remote: true, method: :delete, data: { confirm: 'Are you sure?'}, :class => "fi-trash size-21" %></i>
	  <div class="actions button_confirm">
	  	<%= f.submit "Confirm Changes", :class => "button tiny radius" %>
		</div>
	<% end %>
</li>