<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name">
      <h1><%= link_to "Survey Rails" , root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

  <% if user_signed_in? %>

    <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><%= link_to "View Surveys" , surveys_path %></li>
      <li ><%= link_to "Create Survey" , new_survey_path%></li>
      <li class="has-dropdown">
        <a><%= link_to current_user.username , current_user %></a>
        <ul class="dropdown" class="drop_header">
          <li class="text-center"><%= link_to "Profile" , current_user %></li>
          <li class="text-center"><%= link_to "Settings" , edit_user_registration_path %> </li>
          <li class="text-center" ><%= link_to "Logout" , destroy_user_session_path , method: "delete" %></li>
        </ul>
      </li>
    </ul>
    </section>

  <% else %>

    <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="text-center"><%= link_to "Sign In" , new_user_session_path %></li>
      <li class="text-center"><%= link_to "Create Account" , new_user_registration_path %></li>
    </ul>
    </section>
  <% end %>

  </nav>
</div>