<div class="large-12 small-12 large-centered small-centered columns text-center">
<%= form_for(@survey, :html=> {:id => 'survey_form'}, remote: true) do |f| %>
	<div class="field small-12 large-8 large-centered columns">
    <%= f.label :title %><br />
    <h6 id="survey_title_solid"><%= @survey.title %></h6>
    <%= f.text_field :title, :id => "survey_title_edit", autofocus: true %>
  </div>

	<div class="field small-12 large-8 large-centered columns">
    <%= f.label :description %><br />
    <h6 id="survey_description_solid"><%= @survey.description %></h6>
    <%= f.text_area :description, :id => "survey_description_edit" %>
  </div>


  <div class="actions" id="survey_button_confirm">
    <%= f.submit "Confirm Changes", :class => 'button tiny radius success' %>
  </div>
  <button type="button" class="button tiny radius large-1 small-2 large-centered small-centered columns" id="survey_button_edit">Edit</button>
<% end %>




<ul id="questions_list">
<% if @questions %>
	<% @questions.each do |question| %>
		<%= render question, :locals => {:new_choice => @choice} %>
	<% end %>
<% end %>
</ul>

<%= link_to  "Add question", new_question_path(:survey_id => @survey.id), remote: true , :class => "button tiny radius " %>
</div>