<div class="large-8 small-10 large-centered small-centered columns">
<%= form_for(@survey) do |f| %>

	<div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

	<div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>


  <div class="actions">
    <%= f.submit "Submit", :class => "button tiny radius success large-centered small-centered columns" %>
  </div>

<% end %>
</div>